<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Version Release Notification</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            color: #007bff;
        }

        p {
            margin: 0 0 20px;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        li {
            margin-bottom: 10px;
        }

        strong {
            color: #007bff;
        }

        .footer {
            border: 1px solid #ccc;
            background-color: #f0f5ff;
            color: #333;
            text-align: center;
            padding: 10px 0;
        }

        .footer p {
            margin: 0;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>New Version Release Notification</h2>
    <p>Dear <span th:text="${username}"></span>,</p>
    <p>We are excited to inform you about a new version release. The details are as follows:</p>
    <ul>
        <li>Release Type: <strong><span th:text="${tagType}"></span></strong></li>
        <li>New Version: <strong><span th:text="${tag}"></span></strong></li>
    </ul>
    <p>Please perform necessary actions and tests in the new release environment.</p>
    <p>Thank you!</p>
</div>
<div class="footer">
    <p>This email is auto-generated. Please do not reply.</p>
</div>
</body>
</html>